<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <!--<td><%= number_to_currency(customer.total_sales) %></td>-->
        <td><%= "$#{(customer.total_sales)}" %></td>
        <!--<td><%= customer.total_sales %></td>-->
        <!--<td><%= number_with_delimiter(customer.total_sales, delimiter: " ") %></td>-->
        <td><%= link_to 'Show', customer %></td>
        <!--<td><a href="/customers/show/<%= customer.id %>">Show</a></td>-->

        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <!--<td><a href="/customers/edit/<%= customer.id %>">Edit</a></td>-->

        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= paginate @customers %>
  </tfoot>
</table>
<br>

<%= link_to 'New Customer', new_customer_path %>
