<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <!--<td><%= number_to_currency(sale.amount) %></td>-->
        <!--<td><%= number_to_currency(sale.tax) %></td>-->
        <td><%= "$#{(sale.amount)}" %></td>
        <td><%= "$#{(sale.tax)}" %></td>
        <!--<td><%= sale.amount %></td>-->
        <!--<td><%= sale.tax %></td>-->
        <!--<td><%= number_with_delimiter(sale.amount, delimiter: " ") %></td>-->
        <!--<td><%= number_with_delimiter(sale.tax, delimiter: " ") %></td>-->
        <td><%= sale.customer.name.upcase %></td>

        <td><%= link_to 'Show', sale %></td>
        <!--<td><a href="/sales/show/<%= sale.id %>">Show</a></td>-->

        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <!--<td><a href="/sales/show/<%= sale.id %>">Edit</a></td>-->

        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= paginate @sales %>
  </tfoot>
</table>

<br>
<%= link_to 'New Sale', new_sale_path %>
