<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <!--<%= "$#{(@sale.amount)}" %>-->
  <%= number_with_precision(@sale.amount, precision: 3) %>
</p>

<p>
  <strong>Tax:</strong>
  <!--<%= "$#{(@sale.tax)}" %>-->
  <!--<%= number_with_delimiter(@sale.tax, delimiter: " ") %>-->
  <%= number_with_precision(@sale.tax, precision: 3) %>

</p>

<p>
  <strong>Customer</strong>
  <%= @sale.customer.name %>
</p>

<p>
  <strong>Tax:</strong>
  <!--<%= number_to_currency(@sale.tax) %>-->
  <!--<%= "$#{@sale.tax}" %>-->
  <!--<%= @sale.tax %>-->
  <%= number_with_precision(@sale.tax, precision: 3) %>

</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
